<div class="container">
  <br>
  <br>
  <br>
  <form (ngSubmit)='createTourna()' #tournaForm='ngForm' class="form-signin" enctype="multipart/form-data">
    <img class="marginauto" src="../../assets/images/stadium.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Host a Tournament</h1>

    <input type="text" id="inputName" class="form-control" placeholder="Tournament Name"  name="tournamentName" #name='ngModel' [(ngModel)]="newTourna.tournamentName" required="" >
    <br>
    <br>

    <input type="date" id="inputDate" class="form-control" placeholder="Tournament Date" name="tournamentDate" #name='ngModel' [(ngModel)]="newTourna.tournamentDate" required="" >
    <br>
    <br>

    <input type="number" id="inputPrize" class="form-control" placeholder="Tournament Prize" name="tournamentPrize" #name='ngModel' [(ngModel)]="newTourna.tournamentPrize" required="">
    <br>
    <br>

    <input type="file" id="inputPoster" class="form-control" placeholder="Tournament Poster" name="tournamentPoster" #name='ngModel' [(ngModel)]="newTourna.tournamentPoster" required="" autofocus="">
    <br>
    <br>
    <button class="btn  btn-primary btn-block" type="submit" style="background-color: black;"><font style="color: white;">CREATE TOURNAMENT</font></button>
  </form>
</div>



