 <div class="album py-5 bg-light">
    <div class="container">

      <div class="row" >
        <div class="col-md-4" *ngFor="let turf of data">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top"  alt="Thumbnail [100%x225]" style="width: 100%; display: block;" src="../../assets/images/stadium.png" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">{{turf.turf_name}}</p>
              <p class="card-text">{{turf.turf_location}}</p>
              <p class="card-text">{{turf.price}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/booking-form/{{turf.id}}" style="background-color: black;"><font style="color: white;">BOOK NOW</font></a>
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/turf/{{turf.id}}" style="background-color:#92140c;"><font style="color:white;">MORE..</font></a>
                  <br>
                  <br>
                  <a type="button" class="btn btn-sm btn-outline-secondary" *ngIf="userRole === 'TO' else other_anchor" href="/create-shed/{{turf.id}}" style="background-color:black"><font style="color:white;">CREATE SCHEDULE</font></a>
                  <ng-template #other_anchor><a type="button" class="btn btn-sm btn-outline-secondary" href="/view-shed/{{turf.id}}" style="background-color: black;"><font style="color: white;">VIEW SCHEDULE</font></a></ng-template>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
