<div class="container">
  <br>
  <br>
  <br>
  <form class="form-signin" enctype="multipart/form-data">
    <img class="marginauto" src="../../assets/images/stadium.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Create Schedule for Turf</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Time Slot One" required="" autofocus="">
    <br>
    <br>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Time Slot Two" required="" autofocus="">
    <br>
    <br>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Time Slot Three" required="" autofocus="">
    <br>
    <br>
    <label for="inputEmail" class="sr-only">Day</label>
    <select class="form-control">
      <option>Choose an option....</option>
      <option value="MON">Monday</option>
      <option value="TUE">Tuesday</option>
      <option value="WED">Wednesday</option>
      <option value="THUR">Thursday</option>
      <option value="FRI">Friday</option>
    </select>
    <br>
    <br>
    <button class="btn  btn-primary btn-block" type="submit" style="background-color: black;"><font style="color: white;">CREATE SCHEDULE</font></button>
  </form>
</div>

