
  <div class="jumbotron">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 align="center" class="display-5" style="color: white;">TURF 4 U</h1>
      <h2 align="center" style="color: white;">BOOK A TURF TODAY</h2>
      <p align="center" ><a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: black;"><font style="color: white;">GET STARTED »</font></a></p>
    </div>
  </div>

<h2 align="center">TURFS AVAILABLE</h2>
  <app-turf></app-turf>

  <h2 align="center">TOURNAMENTS</h2>
  <app-tournament></app-tournament>
