<button *ngIf="userRole === 'TO'"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color: black;" >
  <font style="color: white;">CREATE TURF</font>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CREATE TURF</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)='create()' #turfForm='ngForm'>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Turf Name:</label>
            <input type="text" class="form-control" id="turf-name" name="turf_name" #name='ngModel' [(ngModel)]="newTurf.turf_name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Turf Location:</label>
            <input type="text" class="form-control" id="turf-location" name="turf_location" #name='ngModel' [(ngModel)]="newTurf.turf_location">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Price:</label>
            <input type="number" class="form-control" id="turf-price"name="price" #name='ngModel' [(ngModel)]="newTurf.price" >
          </div>
          <button type="submit" class="btn btn-primary" style="background-color: black;"><font style="color: white;">Create Turf</font></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>





